h1 {
  color: red;
  text-align: center;
}

p {
  text-align: center;
}

.marco {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: royalblue 1px solid;
  padding: 10px;
  margin: 0 auto;
}

.parrafoLargo {
  color: seagreen;
  text-shadow: slategrey;
}
ul,
li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

footer {
  display: flex;
  width: 50vw;
  border: royalblue 1px solid;
  padding: 10px;
  margin: 0 auto;
  justify-content: flex-end;
}

footer span {
  display: inline-block;
  background-size: cover;
  margin-right: 20px;
}
