h1 {
  color: red;
  text-align: center;
}

p {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-img img {
  width: 110px;
  height: 60px;
}

.marco {
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: royalblue 1px solid;
  padding: 10px;
  margin: 0 auto;
}

.parrafoLargo {
  color: seagreen;
  text-shadow: slategrey;
}

ul,
li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
